CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
tags
Makefile
_CPack_Packages
build
*~
*.dat
*.eps
*.stamp
*.cosf
*.exe
*.deb
*.rpm
*.zip
*.gz
*.tar
*.pyc
*.dll*
*.so*
*.nfs*
*_test
*_app
*.swp
ui_*
moc_*
.lock-wafbuild
