# only keep relevant arkcmake files
arkcmake/*
!arkcmake/DefineCMakeDefaults.cmake
!arkcmake/DefinePlatformDefaults.cmake
!arkcmake/DefineCompilerFlags.cmake
!arkcmake/DefineInstallationPaths.cmake
!arkcmake/MacroEnsureOutOfSourceBuild.cmake
!arkcmake/MacroCheckCCompilerFlagSSP.cmake
!arkcmake/MacroCommonPaths.cmake
!arkcmake/LibFindMacros.cmake
!arkcmake/updateArkcmake.py
!arkcmake/autobuild.py
!arkcmake/get_build_path.py
!arkcmake/FindARKOSG.cmake
!arkcmake/FindARKMATH.cmake
!arkcmake/FindARKCOMM.cmake
!arkcmake/FindJSBSIM.cmake
!arkcmake/FindARKHANGAR.cmake
!arkcmake/FindSCICOSLAB.cmake
!arkcmake/language_support_v2.cmake
