# only keep relevant arkcmake files
arkcmake/*
!arkcmake/FindArkOsg.cmake
!arkcmake/FindArkMath.cmake
!arkcmake/FindArkComm.cmake
!arkcmake/FindJSBSim.cmake
!arkcmake/FindArkHangar.cmake
!arkcmake/FindScicosLab.cmake
!arkcmake/FindSimGear.cmake
!arkcmake/FindPLIB.cmake
!arkcmake/FindOsgPlugin.cmake
!arkcmake/DefineCMakeDefaults.cmake
!arkcmake/DefineCompilerFlags.cmake
!arkcmake/MacroCheckCCompilerFlagSSP.cmake
!arkcmake/MacroEnsureOutOfSourceBuild.cmake
!arkcmake/ExternalProjectWithFilename.cmake
!arkcmake/GlobCopyTracked.cmake
